body {
    background: pink;
}

.table {
    background:white;
    border: 5px;
    border-style: solid;
    border-color:rgb(115, 132, 138);
    padding: 10px;
    margin:25px;
    justify-content: center;
    align-items: center;
  }

.name-toggle {
    color: rgb(250, 86, 113);
    text-decoration: underline;
}

.header {
    font-family: 'Grand Hotel', cursive;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:25px;
    color: rgb(73, 73, 73);
}

.form-control {
    margin: 3px;
    padding: 10px;
    width: 300px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.search {
    padding: 10px;
    margin:25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }